##定义初始变量
#set($tableName = $tool.append($tableInfo.name, "Service"))
##设置回调
$!callback.setFileName($tool.append($tableName, ".java"))
$!callback.setSavePath($tool.append($tableInfo.savePath, "/service"))

##拿到主键
#if(!$tableInfo.pkColumn.isEmpty())
    #set($pk = $tableInfo.pkColumn.get(0))
#end

#if($tableInfo.savePackageName)package $!{tableInfo.savePackageName}.#{end}service;

import $!{tableInfo.savePackageName}.entity.domain.$!{tableInfo.name};
import $!{tableInfo.savePackageName}.entity.vo.$!{tableInfo.name}Vo;
import $!{tableInfo.savePackageName}.entity.dto.$!{tableInfo.name}PageDto;
import $!{tableInfo.savePackageName}.entity.dto.$!{tableInfo.name}QueryDto;
import $!{tableInfo.savePackageName}.entity.dto.$!{tableInfo.name}CreateDto;
import $!{tableInfo.savePackageName}.entity.dto.$!{tableInfo.name}PutDto;
import com.github.pagehelper.PageInfo;

/**
 * $!{tableInfo.comment}($!{tableInfo.name})表服务接口
 *
 * @author $!author
 * @since $!time.currTime()
 */
public interface $!{tableName} {
        /**
         * <p>根据主键查询单条数据</p>
         *
         * @param id 主键
         * @return {@link $!{tableInfo.name}Vo}
         * @author $!author
         * @since $!time.currTime()
         */
    $!{tableInfo.name}Vo find(Long id);

        /**
         * <p>根据主键查询单条数据</p>
         *
         * @param queryDto 查询参数
         * @return {@link $!{tableInfo.name}Vo}
         * @author $!author
         * @since $!time.currTime()
         */
    $!{tableInfo.name}Vo find($!{tableInfo.name}QueryDto queryDto);

/**
 * <p>根据条件查询数据是否存在</p>
 *
 * @param queryDto 查询参数
 * @return {@link boolean}
 * @author $!author
 * @since $!time.currTime()
 */
default boolean exist($!{tableInfo.name}QueryDto queryDto) {
        return Optional.ofNullable(find(queryDto)).isPresent();
        }

        /**
         * <p>根据参数分页查询$!{tableInfo.comment}</p>
         *
         * @param pageDto 分页查询参数
         * @return {@link PageInfo<$!{tableInfo.name}Vo>}
         * @author $!author
         * @since $!time.currTime()
         */
        PageInfo<$!{tableInfo.name}Vo> page($!{tableInfo.name}PageDto pageDto);

        /**
         * <p>根据参数非分页查询$!{tableInfo.comment}</p>
         *
         * @param queryDto 查询参数
         * @return {@link List<$!{tableInfo.name}Vo>}
         * @author $!author
         * @since $!time.currTime()
         */
        List<$!{tableInfo.name}Vo> list($!{tableInfo.name}QueryDto queryDto);

        /**
         * <p>新增数据</p>
         *
         * @param createDto 新增参数
         * @return {@link boolean} 是否新增成功
         * @author $!author
         * @since $!time.currTime()
         */
        boolean create($!{tableInfo.name}CreateDto createDto);

        /**
         * <p>批量新增数据</p>
         *
         * @param createDtoList 新增参数列表
         * @return {@link boolean} 是否新增成功
         * @author $!author
         * @since $!time.currTime()
         */
        boolean create(List<$!{tableInfo.name}CreateDto> createDtoList);

        /**
         * <p>更新数据</p>
         *
         * @param putDto 更新参数
         * @return {@link boolean} 是否更新成功
         * @author $!author
         * @since $!time.currTime()
         */
        boolean put($!{tableInfo.name}PutDto putDto);

        /**
         * <p>逻辑删除</p>
         *
         * @param id 主键
         * @param isLogicRemove 是否为逻辑删除
         * @return {@link boolean} 是否更新成功
         * @author $!author
         * @since $!time.currTime()
         */
        boolean remove(Long id, boolean isLogicRemove);
        }